epochs: 5
lr: 0.01
bsize: 16               #batchsize
optimizer: "adam"
folds: 5
bpdc: 20                #batches per data collection to collect metrics throughout an epoch
patience: 5
min_delta: 0.05