stage_1:
   epochs: 20
   lr: 0.00001
   bsize: 16               #batchsize
   optimizer: "adam"
   folds: 5
   bpdc: 100                #batches per data collection to collect metrics throughout an epoch
   patience: 5
   min_delta: 0.025
   model_variant: "M"

stage_2:
   epochs: 20
   lr: 0.001
   bsize: 64
   optimizer: "adam"
   folds: 5
   bpdc: 20
   patience: 5
   min_delta: 0.025
   layers: 3

random_seed: 69
early_stopping: 1